:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*Font size*/
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-4xl: 40px;
  --text-5xl: 48px;
  --text-6xl: 60px;

  /*Line height*/
  --line-height-xs: 18px;
  --line-height-sm: 20px;
  --line-height-base: 24px;
  --line-height-lg: 28px;
  --line-height-xl: 32px;
  --line-height-2xl: 36px;
  --line-height-3xl: 40px;
  --line-height-4xl: 48px;
  --line-height-5xl: 56px;
  --line-height-6xl: 72px;

  /* Spacing */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-13: 52px;
  --spacing-14: 56px;
  --spacing-15: 60px;
  --spacing-16: 64px;
  --spacing-17: 68px;
  --spacing-18: 72px;
  --spacing-19: 76px;
  --spacing-20: 80px;
  --spacing-21: 84px;
  --spacing-22: 88px;
  --spacing-23: 92px;
  --spacing-24: 96px;
  --spacing-25: 100px;
  --spacing-26: 104px;
  --spacing-27: 108px;
  --spacing-28: 112px;
  --spacing-29: 116px;
  --spacing-30: 120px;
  --spacing-31: 124px;
  --spacing-32: 128px;
  --spacing-33: 132px;
  --spacing-34: 136px;
  --spacing-35: 140px;
  --spacing-36: 144px;
  --spacing-37: 148px;
  --spacing-38: 152px;
  --spacing-39: 156px;
  --spacing-40: 160px;
  --spacing-41: 164px;
  --spacing-42: 168px;
  --spacing-43: 172px;
  --spacing-44: 176px;
  --spacing-45: 180px;
  --spacing-46: 184px;
  --spacing-47: 188px;
  --spacing-48: 192px;
  --spacing-49: 196px;
  --spacing-50: 200px;
  --spacing-51: 204px;
  --spacing-52: 208px;
  --spacing-53: 212px;
  --spacing-54: 216px;
  --spacing-55: 220px;
  --spacing-56: 224px;
  --spacing-57: 228px;
  --spacing-58: 232px;
  --spacing-59: 236px;
  --spacing-60: 240px;
  --spacing-61: 244px;
  --spacing-62: 248px;
  --spacing-63: 252px;
  --spacing-64: 256px;

  /*Colors*/
  --color-primary-50: #f7f7f9;
  --color-primary-100: #e0e0eb;
  --color-primary-200: #c9c9d8;
  --color-primary-300: #b2b2c5;
  --color-primary-400: #9999b3;
  --color-primary-500: #2f3061;
  --color-primary-600: #282950;
  --color-primary-700: #202741;
  --color-primary-800: #191831;
  --color-primary-900: #111121;
  --color-primary-950: #0a0a12;

  --color-secondary-50: #e3e7f4;
  --color-secondary-100: #c0c9ea;
  --color-secondary-200: #9daee0;
  --color-secondary-300: #7a93d6;
  --color-secondary-400: #5877cc;
  --color-secondary-500: #0e34a0;
  --color-secondary-600: #0c2e8f;
  --color-secondary-700: #0a297e;
  --color-secondary-800: #08236d;
  --color-secondary-900: #061e5c;
  --color-secondary-950: #04194b;

  --color-tertiary-50: #f2f1f5;
  --color-tertiary-100: #dedce4;
  --color-tertiary-200: #c9c6d4;
  --color-tertiary-300: #b4b0c3;
  --color-tertiary-400: #a09bae;
  --color-tertiary-500: #5f5980;
  --color-tertiary-600: #544d6f;
  --color-tertiary-700: #4a4360;
  --color-tertiary-800: #3f3951;
  --color-tertiary-900: #342f42;
  --color-tertiary-950: #2a2737;

  --color-success-50: #f5fbdd;
  --color-success-100: #e6f7bf;
  --color-success-200: #d6f39f;
  --color-success-300: #c5ef7f;
  --color-success-400: #b5eb60;
  --color-success-500: #57bb11;
  --color-success-600: #4fa50f;
  --color-success-700: #45930e;
  --color-success-800: #3b800c;
  --color-success-900: #316e0a;
  --color-success-950: #295d09;

  --color-warning-50: #fff7e6;
  --color-warning-100: #ffefd0;
  --color-warning-200: #ffe6b9;
  --color-warning-300: #ffdea3;
  --color-warning-400: #ffd68d;
  --color-warning-500: #ffc043;
  --color-warning-600: #e6a33b;
  --color-warning-700: #cc9434;
  --color-warning-800: #b3862d;
  --color-warning-900: #996827;
  --color-warning-950: #805a21;

  --color-error-50: #ffebee;
  --color-error-100: #ffcdd2;
  --color-error-200: #ef9a9a;
  --color-error-300: #e57373;
  --color-error-400: #ef5350;
  --color-error-500: #ff4545;
  --color-error-600: #e53935;
  --color-error-700: #d32f2f;
  --color-error-800: #c62828;
  --color-error-900: #b71c1c;
  --color-error-950: #a01717;

  --color-dark-50: #595959;
  --color-dark-100: #707070;
  --color-dark-200: #868686;
  --color-dark-300: #9d9d9d;
  --color-dark-400: #b4b4b4;
  --color-dark-500: #343434;
  --color-dark-600: #2c2c2c;
  --color-dark-700: #242424;
  --color-dark-800: #1b1b1b;
  --color-dark-900: #131313;
  --color-dark-950: #0a0a0a;

  --color-neutral-50: #f8f8f8;
  --color-neutral-100: #f2f2f2;
  --color-neutral-200: #ececec;
  --color-neutral-300: #e5e5e5;
  --color-neutral-400: #dfdfdf;
  --color-neutral-500: #d9d9d9;
  --color-neutral-600: #d3d3d3;
  --color-neutral-700: #cccccc;
  --color-neutral-800: #c6c6c6;
  --color-neutral-900: #bfbfbf;
  --color-neutral-950: #b9b9b9;

  --background-color: var(--color-dark-900);
  --text-color: var(--color-neutral-500);

  /*Border radius*/
  --rounded: 4px;
  --rounded-lg: 8px;
  --rounded-xl: 16px;
  --rounded-2xl: 20px;
  --rounded-4xl: 24px;
  --rounded-full: 9999px;

  /*Size*/
  --size-1: 4px;
  --size-2: 8px;
  --size-3: 12px;
  --size-4: 16px;
  --size-5: 20px;
  --size-6: 24px;
  --size-7: 28px;
  --size-8: 32px;
  --size-9: 36px;
  --size-10: 40px;
  --size-11: 44px;
  --size-12: 48px;
  --size-13: 52px;
  --size-14: 56px;
  --size-15: 60px;
  --size-16: 64px;
  --size-17: 68px;
  --size-18: 72px;
  --size-19: 76px;
  --size-20: 80px;
  --size-21: 84px;
  --size-22: 88px;
  --size-23: 92px;
  --size-24: 96px;
  --size-25: 100px;
  --size-26: 104px;
  --size-27: 108px;
  --size-28: 112px;
  --size-29: 116px;
  --size-30: 120px;
  --size-31: 124px;
  --size-32: 128px;
  --size-33: 132px;
  --size-34: 136px;
  --size-35: 140px;
  --size-36: 144px;
  --size-37: 148px;
  --size-38: 152px;
  --size-39: 156px;
  --size-40: 160px;
  --size-41: 164px;
  --size-42: 168px;
  --size-43: 172px;
  --size-44: 176px;
  --size-45: 180px;
  --size-46: 184px;
  --size-47: 188px;
  --size-48: 192px;
  --size-49: 196px;
  --size-50: 200px;
  --size-51: 204px;
  --size-52: 208px;
  --size-53: 212px;
  --size-54: 216px;
  --size-55: 220px;
  --size-56: 224px;
  --size-57: 228px;
  --size-58: 232px;
  --size-59: 236px;
  --size-60: 240px;
  --size-61: 244px;
  --size-62: 248px;
  --size-63: 252px;
  --size-64: 256px;
}

* {
  min-width: 0px;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.animate-pulse {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
