.Container {
  width: auto;
  padding: var(--spacing-8) var(--spacing-6);
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-12);
}

@media only screen and (min-width: 640px) {
  .Container {
    padding: var(--spacing-12) var(--spacing-12);
    row-gap: var(--spacing-16);
  }
}

@media only screen and (min-width: 1280px) {
  .Container {
    padding: var(--spacing-16);
  }
}
