.BadgeWrapper {
  display: flex;
  column-gap: var(--spacing-2);
  margin: var(--spacing-4) 0px;
}

.Grid {
  display: grid;
}

.EmptyPlaceholder {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-items: center;
  align-items: center;
  font-size: var(--text-4xl);
  height: 100%;
  margin: var(--spacing-12) 0px;
}

.GridView {
  width: auto;
  display: grid;
  grid-column: 1;
  gap: var(--spacing-4);
}

@media screen and (min-width: 640px) {
  .GridView {
    grid-column: 3;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
